body
{background-color: rgb(255, 223, 250);
    background-size: cover;
    height:100vh
}



#first{
    width: 100%;
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4%;
}

.bar{
    height: 5vw;
    width: 22%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:0vw 0vw 0vw 1vw
    
}

.pig-image{
    border: 1px solid  rgb(255, 223, 250);
}

div p{
    text-align: center;
}

a img{
    width: 100%;
    overflow: hidden;
}

.bar{
    height: 5vw;
    width: 22%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:0vw 0vw 0vw 1vw
    
}

.tool{
    height: 3vw;
    border: solid 1vw white;
}

button{
    background-color: white;
    border:white ;
    padding: 0vw;
    height:3vw
}

h1{
    color:rgba(255, 136, 201, 0.671);
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 5px 5px rgb(191, 32, 53);
    margin: 40px 0px 10px 0px 
}

.pitch{
    font-size: 1vw; 
    color:black;
    margin:2vw 5vw 2vw 5vw ;
    font-family: 'Cormorant Garamond', serif;
}

.bar{
    height: 5vw;
    width: 22%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:0vw 0vw 0vw 1vw
    
}

.tool{
    height: 3vw;
    border: solid 1vw white;
}

button{
    background-color: white;
    border:white ;
    padding: 0vw;
    height:3vw
}
h1{
    color:rgba(255, 136, 201, 0.671);
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 5px 5px rgb(191, 32, 53);
    margin: 40px 0px 10px 0px 
}

.pitch{
    font-family: 'Cormorant Garamond', serif;
}
.mud{
    font-family: 'Shadows Into Light', cursive;

}