body{
    background-color: rgb(255, 228, 251);
    background-size: cover;
    height:100vh
}

h1{
    color:rgba(255, 136, 201, 0.671);
    text-align: center;
    font-size: 5vw;
    text-shadow: 5px 5px 5px rgb(191, 32, 53);
    margin: 40px 0px 10px 0px 
}

h2{
    color:rgb(255, 171, 238);
    text-align: center;
    font-size:1.5vw;
    text-shadow: 1px 2px 2px rgb(182, 43, 78);
}

.heart{
    height: 25vw;
    display:flex;
    justify-content: center;
    margin:3vw;
    width:32%;
}

.bar{
    height: 5vw;
    width: 22%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:0vw 0vw 0vw 1vw
    
}

.tool{
    height: 3vw;
    border: solid 1vw white;
}

button{
    background-color: white;
    border:white ;
    padding: 0vw;
    height:3vw
}

.left {
    height:20vw;
    width:33%;
  

}

.right{
    height:20vw;
    width:33%;
   
    
}


.main{
    width:100%;
    display: flex;
}

.h2-left,
.h2-right{
    color:rgb(179, 205, 255);
    margin: 5vw 5vw 5vw 5vw;
}

